<!DOCTYPE html>
<html>

<head>
  <title>Advanced React</title>
  <script>
    window.initialData = <%- JSON.stringify(initialData) %>
  </script>
</head>

<body>
  <div id='root'><%- initialMarkup %></div>
  <script src=<%- runtimeFile %> charset="UTF-8"></script>
  <script src=<%- vendorFile %> charset="UTF-8"></script>
  <script src=<%- appFile %> charset="UTF-8"></script>
  </div>
</body>

</html>